#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    height: 200px;
    width: 500px;
}
body{
    background-color: goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
