body {
	background: #23abeb;
	/*display: flex;*/
}

#r{
	background: #eb60f0;
	margin: 10px;
	padding: 40px;
	border-radius: 15%;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.a {
	border-radius: 100%;
	height: 200px;
	width: 140px;
    margin: 0 auto;

}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto 20px;
}